

<mat-card color="primary" >
    <mat-card-content>
        <form [formGroup]="jobForm" (ngSubmit)="onSubmit()"   >
            <mat-label color="warn">Company Name</mat-label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="" formControlName="companyName" type="text">
              <mat-error *ngIf="jobForm.get('companyName')?.invalid && jobForm.get('companyName')?.pristine"
          >Please enter the Name</mat-error
        >
            </mat-form-field>
            
            
            <mat-label>Role</mat-label>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="" formControlName="role" type="text" >
                <mat-error *ngIf="jobForm.get('role')?.invalid"
          >Please enter the job Role</mat-error
        >
            </mat-form-field>

            <mat-label>Date</mat-label>
            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" formControlName="date" >
                
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="jobForm.get('date')?.invalid"
          >Please select the date</mat-error
        >
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" [disabled]="jobForm.invalid" >Save</button>
          </form>
    </mat-card-content>
  </mat-card>
